<div class="app-container bg-gray-100 min-h-screen">
  <header class="bg-white shadow-sm p-4 flex justify-between items-center">
    <div></div> <!-- Empty div for spacing -->
<div class="user-container">
  <div class="avatar">
    <img [src]="avatarUrl" alt="User Avatar" class="avatar-img" />
    <span class="username">{{ username() }}</span>
  </div>

  <!-- Dropdown -->
  <div class="dropdown">
    <ul class="dropdown-menu">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Settings</a></li>
      <li class="divider"></li>
      <li>
        <button (click)="logout()" class="logout-link">
          <img src="assets/icons/logout.png" alt="Logout Icon" class="logout-icon" />
          Logout
        </button>
      </li>
    </ul>
  </div>
</div>



  </header>
<main class="content">
  <app-nav></app-nav>
  <app-toast-container></app-toast-container>
  <router-outlet></router-outlet>
</main>


</div>